@charset "UTF-8";


body {background-color: #8ebcf1}

h1 {color: aliceblue;
 text-decoration: underline;
text-align: center; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; }

h2{font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; color: aliceblue; text-align: center}

img {border-color: aliceblue;
  border-width: 4px;
  border-style: double;
  border-radius: 10px;}
h3 {color: aliceblue;text-decoration: underline; font-size: 30px; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"}

h4{ color: aliceblue; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";  font-size: 20px }

table, th, td {
  border: 5px solid rgb(255, 255, 255);
  color: aliceblue; font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"; font-size: 25px
}

nav { display: flex; 
      font-family: Arial, Helvetica, sans-serif;
       justify-content: space around;
      align-items: center; 
       min-hieght: 8vh;
      background-color: rgb(233, 198, 230); }

      nav {
        background-color: pink;
      }
      
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover {
        background-color: rgb(151, 201, 222);
      }
      
      .nav-img {
        display: inline-block;
        width: 150px;
        height: 100px;
        margin-right: 5px;
        vertical-align: middle;
      }
      
      .center {
      margin: auto;
     width: 75%;
     border: 3px solid rgb(248, 248, 248);
      padding: 10px;
  }	
